.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.text-container {
    align-items: right;
    margin: 10px;
}

/* 
.team-card {
    width: 550px;
    align-items: left;
} */